.explorer {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  &.desktop-only {
    @media all and not ($mobile) {
      display: flex;
    }
  }

  button#explorer {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    & > h2 {
      font-size: 1rem;
      display: inline-block;
      margin: 0;
    }

    & .fold {
      margin-left: auto;
      transition: transform 0.3s ease;
      opacity: 0.8;
    }

    &.collapsed .fold {
      transform: rotateZ(-90deg);
    }
  }

  & > #explorer-content {
    list-style: none;
    overflow-y: auto;
    max-height: 100%;
    transition: max-height 0.35s ease;

    &.collapsed {
      max-height: 0;
    }
  }
}
